extends layout

block head
  link(rel='stylesheet' href='/styles/blog.css')

block content
  header
    a(href='/')
      img(id='logo' class='float-left' src='/images/logo/SVG/symbol_blue.svg' alt='Midnight Code Logo.')
    h1 Blog 

  #bloglist.content.container.card
    each blog in blogs
      .row.blogpostcard.outline
        a.col(href='.'+blog.url)
          .row
            .col-sm-8
              h2 #{blog.title}
            .col-sm-4.date #{blog.timeFromUpload}
            
          p #{blog.description}
