extends layout

block head
  title Blog - Late Night Code
  
  link(rel='stylesheet' href='/styles/blog.css')
  

block content
  header
    a(href='/')
      img(id='logo' class='float-left' src='/images/logo/SVG/symbol_blue.svg' alt='Late Night Code Logo.')
    a(href='/blog/').blog-link
      h1.display.white.mt-0 Blog 
      
  #bloglist.content.container.card.mb-5
    each blog in blogs
      a.row.blogpostcard.outline(href='.'+blog.url).my-2
        .col.pt-3
          .row
            .col-sm-8
              h2.mlc-blue.mt-0.mb-2 #{blog.title}
            .col-sm-4.date 
              if blog.overOneWeek
                i #{blog.displayUploadDate}
              else
                i #{blog.timeFromUpload}
          .row.mb-2
            .col-12
              p #{blog.description}
