extends layout

block head
  link(rel='stylesheet' href='/styles/blog.css')
  link(rel='stylesheet' href='/styles/prism.css')
  script(src='/scripts/writeups/prism.js')
  
block content
  header
    a(href='/')
      img(id='logo' class='float-left' src='/images/logo/SVG/symbol_blue.svg' alt='Midnight Code Logo.')
    h1 Blog 
  
  
  #blogpost.content.container.card
    p!= blog.content 
