extends layout

block head
  title Late Night Code

  script(src='/scripts/maid_dragon.js')
  link(rel='stylesheet' href='/styles/home.css')

block content
  .container-fluid
    //- Name
    .row
      .col
        div.author 
          span#author1 Gomango999 | 
          span#author2 Kevin Zhu
        
    //- Left Side
    .row
      .col-xl-7
        //- Illustration
        .row
          .col
            img(src='/images/background/desk/desk5_cropped0_small.jpg')#illustration

      //- Right Side
      .col-xl-5.text-right
        //- Headers 
        .row
          .col
            h1#display-header1.display-header.noselect latenight
            h1#display-spacer.display-header.noselect &nbsp;&nbsp;&nbsp;
            h1#display-header2.display-header.noselect &nbsp;code;&nbsp;&nbsp;
        
        //- Description
        .row
          .col.offset-lg-3
            hr.mb-3.mt-4.ml-5
            p
              | Hey, welcome to my site!
              | Here you'll find tips, tricks and all kinds of fun stuff from an (amateur) coder &amp; artist.
              | I hope you enjoy your stay!
        
        //- Call to Action Button
        .row#call-button-row.mt-5
          .col
            a(href='/blog/')#call-button.noselect Come on in
    
    //- Bottom Row
    .row.my-5
      .col-xl-7
        .row.bottom-row
          .col
            p(onclick="rollSymbols()")#bottom-symbols.noselect //&nbsp;#&nbsp;-&nbsp;_&nbsp;-&nbsp;)
      .col-xl-5
        //- Symbols
        .row#dot-grid-row.bottom-row.mb-3.noselect
          .col
            .row.dot-row
              .col-3
                span &middot;
              .col-3
                span &middot;
              .col-3
                span &middot;
            .row.dot-row
              .col-3
                span &middot;
              .col-3
                span &middot;
              .col-3
                span &middot;
            .row.dot-row
              .col-3
                span &middot;
              .col-3
                span &middot;
              .col-3
                span &middot;
    .row
      .col
        p Number of visitors: <strong> #{visits} </strong>
            
