extends layout

block head
  title Late Night Code

  script(src='scripts/buttons.js')
  link(rel='stylesheet' href='styles/home.css')

block content
  .content.container
    #logo-container.row
      img(src='images/logo/4x/logo_full_dark@4x.png' alt='Late Night Code' id='logo').center
    #button-container.row.justify-content-center
      .col
        button#button-blog.diamond-button
          img(src='images/logo/SVG/icon_document.svg' alt='Document' id='icon-writeup' class='button-icon')
