doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        link(rel="stylesheet", href="/styles/midnight-code.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        block head
    body
        block content
