extends layout

block head
  title Spinner - Late Night Code
  
  link(rel='stylesheet' href='/styles/latenight-code.css')
    
  script(src='//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js')
  script(src='/scripts/spinner.js')
      
block content
  .container.py-5.px-4
    .row
      h1 Spinner
    .row
      .col-8
        .row
          .col
            p spinner here
        .row
          .col
            button#spinbutton Spin!
      .col-4.h-100
        h3 Seed
        input#seedtext
        h3 Options
        textarea(rows=30 cols=30)#intext
          |ryno 80.0
          |Bill 72.0
          |yellowsubmarine 69.0
          |BlaiZ 66.0
          |baaooo 66.0
          |drk17 66.0
          |SacredPineapple 63.0
          |happyicy 63.0
          |FrankLeDank 62.0
          |Rodog121 57.0
          |Imagine 56.0
          |MysticalFire 56.0
          |darth_malloc 56.0
          |tlgeotau 56.0
          |samiam1357 55.0
          |duo 54.0
          |jl58261 53.0
          |Bodudu01 52.0
          |Technocoder 50.0
          |francojreyes 49.0
          |vincentchen 47.0
          |alanvien 46.0
          |asdnflasfdnjnjad 46.0
          |jn0815 45.0
          |s102938 45.0
          |hamish98 44.0
          |_brianJ 41.0
          |Mugginses 40.0
          |pythonenjoyer 40.0
          |mahdin1 37.0
          |cazza_n910 36.0
          |gsxu 35.0
          |Jack_Braga 33.0
          |Apolloliu 30.0
          |Vernburn 30.0
          |Zacheraay 30.0
          |pzaz 30.0
          |amelieritchie 29.0
          |Reem 27.0
          |saiderman 26.0
          |Allynixtor 20.0
          |CircuitSheep 20.0
          |Mahika 20.0
          |Rayden 20.0
          |Rei 20.0
          |Sarthak 20.0
          |YotsubaDesu 20.0
          |ethan214 20.0
          |joceline 20.0
          |lachlan 20.0
          |mdas 20.0
          |opengangs 20.0
          |wobo_head 20.0
          |Ayoob 15.0
          |Nicole_Bayona 15.0
          |chaos_ 15.0
          |jonkjonk 15.0
          |leglessnograd 15.0
          |manav141 15.0
          |pmoore 15.0
          |Calpis 10.0
          |CrocGonzoSam2003 10.0
          |azusa 10.0
          |carey 10.0
          |ijustplaybass 10.0
          |maylo 10.0
          |trimesters 10.0
          |uwu123 10.0
          |verdbro 10.0
          |yeet 10.0
          |BigBug 0.0
          |EuanMaynier 0.0
          |Ginga 0.0
          |Kaeto 0.0
          |Kituit 0.0
          |Prashant_T 0.0
          |TEDX 0.0
          |alexandrax39 0.0
          |arvyanh 0.0
          |lachlantula 0.0
          |mborscz 0.0
          |naomigrace 0.0
          |rifa 0.0
