/* === Back Button === */
a.back-button {
  position: relative;
  font-size: 1em;
  color: #cbccc6;
  z-index: 100;
}
a.back-button span {
  margin-left: 15px;
}
a.back-button:hover {
  text-decoration: none;
}

/* === Cover Photo === */
.cover-container {
  overflow: hidden;
  height: 300px;
}
#cover-art {
  position: relative;
  float: right;
  width: 80%;
  opacity: 0.2;
  /* image-rendering: pixelated; */
  object-fit: cover;
  z-index: -100; /* display below title */
}

/* === Header === */
.header-container {
  margin-top: -11.5em;
}
h1 {
  font-size: 4em;
}
@media (max-width: 992px) {
  #cover-art {
    width: 100%;
  }
  h1 {
    font-size: 3em;
  }
}

.blog-info {
  font-size: 1.1em;
}
#profile-picture {
  height: 35px;
  border-radius: 50%;
}

/* === Blog Text === */
.content {
  margin-top: 30px;
  font-size: 1.1em;
}
figure > img {
  max-width: 750px;
}

/* === Back Button === */
.next-prev-links a {
  font-size: 1.1em;
  color: #cbccc6;
}
.next-prev-links a:hover {
  text-decoration: none;
}



/* === Blog Post List === */
#bloglist {
  padding: 40px 20px;
  max-width: 900px;
  /* margin-top: 120px; */
}

@media (max-width: 900px) {
  #bloglist {
    border-radius: 0px;
  }
}

a.blogpostcard {
  color: #e2e2e2;
  margin-left: 48px;
  margin-right: 48px;
}

.blogpostcard:hover {
  background-color: #2a3241;
  text-decoration: none;
  cursor: pointer;
}

.date {
  /* padding-top: 30px; */
  text-align: right;
}

@media (max-width: 720px) {
  a.blogpostcard {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#list-ender {
  width: 100px;
}

/* === Downloads === */
.download-card {
  border: #5e5e5e 1px solid;
  border-radius: 10px;
  background-color: #191f2b;
  padding: 4px 16px;
}
a.download-link {
  color: white;
}
.download-link:hover {
  text-decoration:none;
}
.download-card:hover {
  background-color: #323b4e;
}
.download-card img {
  width: 28px;
  height: auto;
  float: left;
  margin-right: 12px;
  margin-top: 4px;
}
.download-card p {
  margin-bottom: 0px;
  font-size: 0.9em;
  text-overflow: ellipsis;
}
.download-card span {
  font-size: 0.7em;
  color: #8e8b81;
}


/* Blog Menus */
/* a.blog-link, a.blog-link:hover, a.blog-link:active, a.blog-link:visited, a.blog-link:focus {
  text-decoration:none;
}

#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#menu ul > a > li, #menu ul > li {
	padding: 8px 15px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
  line-height: 1.5em;
}
a > li{
  color: #abf0ff;
}
li.dead-link {
  color: #acacac;
}

ul > a.live-link:hover {
  cursor: pointer;
  text-decoration:none;
}
ul > a.live-link > li:hover {
	background-color: #2a3241;
}
ul > li.dead-link:hover {
	background-color: #2a3241;
} */
