/* General */
.card {
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgb(9, 9, 9), 0px -3px 10px rgb(9, 9, 9);
}

.outline {
  border: 1px solid #545869;
  border-radius: 3px;
}

h1.display {
  font-size: 60px;
}

/* Blog Post */

#blogpost {
  padding: 30px 60px;
  /* font-size: 1.7rem; */
  max-width: 850px;
}
#menu-container {
  max-width: 850px;

}
#menu {
  padding: 48px
}

@media (max-width: 480px) {
  #blogpost {
    margin-left: 0px;
    margin-right: 0px;
  }
  #menu-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 1870px) {
  #menu-container {
    max-width: 300px;
    margin-left: 100px;
  }
  #menu {
    padding: 16px 24px;
  }
}

.container-fluid {
  padding-top: 120px;
}

.content {
  background-color: #191f2b;
}


/* Blog Menus */
a.blog-link, a.blog-link:hover, a.blog-link:active, a.blog-link:visited, a.blog-link:focus {
  text-decoration:none;
}

#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#menu ul > a > li, #menu ul > li {
	padding: 8px 15px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
  line-height: 1.5em;
}
a > li{
  color: #abf0ff;
}
li.dead-link {
  color: #acacac;
}

ul > a.live-link:hover {
  cursor: pointer;
  text-decoration:none;
}
ul > a.live-link > li:hover {
	background-color: #2a3241;
}
ul > li.dead-link:hover {
	background-color: #2a3241;
}

#profile-picture {
  height: 35px;
  border-radius: 50%;
}
.info {
  font-size: 0.9em;
}

/* Maths */
span.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Blog Post List */
#bloglist {
  padding: 40px 20px;
  max-width: 900px;
  margin-top: 120px;
}

a.blogpostcard {
  color: #e2e2e2;
  margin-left: 48px;
  margin-right: 48px;
}

.blogpostcard:hover {
  background-color: #2a3241;
  text-decoration: none;
  cursor: pointer;
}

.date {
  /* padding-top: 30px; */
  text-align: right;
}

@media (max-width: 720px) {
  a.blogpostcard {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#list-ender {
  width: 200px;
}

/* Downloads */
.download-card {
  border: #5e5e5e 1px solid;
  border-radius: 10px;
  background-color: #191f2b;
  padding: 4px 16px;
}
a.download-link {
  color: white;
}
.download-link:hover {
  text-decoration:none;
}
.download-card:hover {
  background-color: #323b4e;
}
.download-card img {
  width: 28px;
  height: auto;
  float: left;
  margin-right: 12px;
  margin-top: 4px;
}
.download-card p {
  margin-bottom: 0px;
  font-size: 0.9em;
  text-overflow: ellipsis;
}
.download-card span {
  font-size: 0.7em;
  color: #8e8b81;
}
