#bloglist {
  padding: 40px 20px;
}

#blogpost {
  padding: 40px 70px;
  /* font-size: 1.7rem; */
}

.content {
  margin-top: 120px;
  width: 50%;
  background-color: #211f25;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgb(9, 9, 9), 0px -3px 10px rgb(9, 9, 9);
}

.outline {
  border: 1px solid rgb(94, 92, 101);
  border-radius: 3px;
}

.blogpostcard {
  width: calc(100% - 80px);
  height: 190px;
  margin: 10px 40px;
  padding: 0px 40px;
}

.blogpostcard:hover {
  background-color: #312e37;
  cursor: pointer;
}

.date {
  padding-top: 30px;
  text-align: right;
}

code {
  background-color: #474747;
  color: #ceadec;
}
