/* === FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;400;600&display=swap');

/* === COLORS === */
/* purple: #b38eab */
/* blue:   #5ab6bc */
/* green:  #2d8171 */
/* orange: #e17552 */
/* brown:  #9d6f51 */
/* cream:  #f5dccc */
/* gold:   #faba0d */
/* black:  #262b3e */
/* gray:   #cbccc6 */


/* === GENERAL ===*/
.container-fluid {
  overflow: hidden;
  padding-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
}

.bottom-row {
  position: absolute;
  bottom: 0px;
}

/* === LEFT SIDE ===*/
.author {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.3em;
}
#author1 {
  font-weight: 100;
}
#author2 {
  font-weight: 600;
}

#illustration {
  margin-top: 1.5em;
  margin-bottom: 8em;
  min-width: 700px;
  max-width: 80%
}

#bottom-symbols {
  margin-bottom: 0px;

  font-family: 'Menlo', 'Monaco' , 'Consolas', 'Liberation Mono', 'Courier New', monospace;
  font-size: 2em;
  color: #53576b;
}


/* === RIGHT SIDE ===*/
.display-header {
  font-family: 'Menlo', 'Monaco' , 'Consolas', 'Liberation Mono', 'Courier New', monospace;
  font-size: 7em;
}

#display-header1 {
  margin-bottom: 0px;
  color: #white;
}
#display-spacer {
  display: inline;
}
#display-header2 {
  /* Make the white rectangle go off screen */
  position: relative;
  margin-right: -2ch; /* Matches the number of spaces after 'code;' */
  display: inline;

  margin-top: 0px;
  background-color: white;
  color: #262b3e;
}

p {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
}

#call-button {
  margin-bottom: 5em;

  border: 0px;
  border-radius: 10000px; /* Bigger than any button will ever be*/

  padding: 10px 40px;
  padding-top: 12px;

  background-color: #e17552;
  color: #262b3e;
  font-size: 1.3em;
}

#call-button:hover {
  background-color: #C45541;
  cursor: pointer;
}

#dot-grid-row {
  right: 0px;
  font-size: 3em;
}
#dot-grid-row .col-3 {
  overflow: hidden;
  height: 0.85em;
  margin-left: 0.1em;
}
