/* || Logo */
#logo-container {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 25%;
}

#logo {
	width: 600px;
	height: auto;
}

/* || Links */
#button-container {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

button.diamond-button {
	border: none;
	border-radius: 5px;
	background-color: white;
	padding: 0px;
	outline: none;
	z-index: 0;
	transform: rotate(45deg);
	transition: background-color 0.1s;
}

button.diamond-button {
	width: 80px;
	height: 80px;
	margin: 30px 30px;
}

/* @media all and (min-width: 1024px) {} */

button.diamond-button > img {
	width: 60%;
	z-index: 5;
	transform: rotate(-45deg);
}

#button-project:hover {
	background-color: #A0C1B9;
}
#button-writeup:hover {
	background-color: #70A0AF;
}
#button-art:hover {
	background-color: #706993;
}

#button-blog:hover {
	background-color: #70A0AF;
}
