/* || Logo */
#logo-container {
	margin-top: 25%;
}

#logo {
	width: 600px;
	height: auto;
}

button.diamond-button {
  width: 80px;
	height: 80px;
	margin: 30px 30px;

	border: none;
	border-radius: 5px;
	background-color: white;
	padding: 0px;
	outline: none;
	z-index: 0;
	transform: rotate(45deg);
	transition: background-color 0.1s;
}

@media (max-width: 720px) {
  #logo {
  	width: 300px;
  	height: auto;
  }
  #button-container {
  	margin-top: 40px;
  }
  button.diamond-button {
    width: 60px;
  	height: 60px;
  }
}

/* || Links */
#button-container {
	text-align: center;
}

button.diamond-button > img {
	width: 60%;
	z-index: 5;
	transform: rotate(-45deg);
}

#button-blog:hover {
	background-color: #70A0AF;
}
