@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Roboto&display=swap');

/* General */
body {
	position: relative;
	width: 100vw;
	max-width: 100%;
	/* height: 100vh;
	max-height: 100vh; */
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;

	background-color: #121216;
	color: #dfdfdf;

	/* font-family: 'Roboto', sans-serif; */
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia';
}

h1.display, h2.display, h3.display, h4.display, h5.display, h6.display {
  font-family: 'Amatic SC', cursive;
}

p,li,b,a {
	padding: 0px;
	/* font-family: 'Roboto', sans-serif; */
	font-variant-ligatures: none;
	line-height: 1.5;
}

a,a:link,a:visited {
	color: #a8d8e3;
}

tt,pre {
	font-size: 16px;
}

hr {
  border-top: 1px solid #acacac;
}

blockquote > p {
  border-left: 2px solid #acacac;
  padding-left: 1em;
}

code:not(.language-c) {
  background-color: #474747;
  border: #474747 solid 3px;
  border-radius: 4px;
  color: #ceadec;
}

pre.line-numbers[class*="language-"] {
  line-height: 0.85em;
  font-size: 0.85em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.centering{
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.show {
	border: solid red 1px;
}

button {
	cursor: pointer;
}

/* Pages */
header {
	position: fixed;
	/*background-color: #27232e;*/
	background-color: #211f25;
	box-sizing: border-box;
	margin: 0px;
	height: 80px;
	width: 100%;
	top: 0px;
	padding: 5px 20px;
	text-align: center;
	box-shadow: 5px 0px 18px black;
	z-index: 5;
}
header > a > img {
	height: 70%;
	cursor: pointer;
	float:left;
	margin-top: 10px;
}
footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 200px;
	background-color: #211f25;
	box-sizing: border-box;
	margin: 0px;
	padding: 50px;
}

@media (max-width: 978px) {
    .container-fluid {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }
}




.mlc-blue {
  color: #a8d8e3; /* links */
}
.mlc-purple {
  color: #ceadec; /* code */
}
.mlc-white {
  color: #dfdfdf; /* text */
}
.white {
  color: #dfdfdf;
}

/*:root {
	--midnight-black: #121216;
	--midnight-lightblue: #A0C1B9;
	--midnight-blue: #70A0AF;
	--midnight-purple: #706993;
	--midnight-white: white;
};*/
